body{
    background:black;
}

#postcardContainer{
    width:600px;
    height:400px;
    margin:200px auto;
    padding:20px;
    background-image: url("https://thumbs.dreamstime.com/z/lush-green-jungle-background-tropical-palm-tree-59316312.jpg");
    border:10px solid yellow;
}

.flexboxContainers{
    display:flex;
    margin-bottom:15px;
}

.flexboxContainers div{
    width:50%;
}

h2{
    font-size:32px;
    font-family: 'Kalam', cursive;
    background:white;
    padding:5px;
}

#topRightContainer{
    text-align:right;
    margin:10px;
}

p{
    margin-top:0;
    font-family: 'Kalam', cursive;
    font-size:22px;
    line-height:1.2;
    background:white;
    padding:5px;
}

input{
    width:97%;
    margin:10px;
    border:none;
    border-bottom:1px solid black;
    font-family: 'Kalam', cursive;
    font-size:22px;
    color:black;
    padding-left:5px;
}

input:placeholder{
    color:gray;
}

#bottomContainer{
    text-align:center;
}

button{
   font-family: 'Kalam', cursive;
   font-size:20px;
   border:none;
   background:lightblue;
}

button:hover{
    background:orange;
}

